
.no-margin{margin: 0}
.default-margin{margin: 25px 0}
.br-hide{
    display: none;
}
h1.value{
    color: #545454;
    font-size: 45px;
    font-weight: bold;
    line-height: 1em;
}
.nav > li > a:focus, .nav > li > a:hover,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;

}
.navbar-toggle span.icon-bar{
    background: #fff;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.subnavbar a.test + .dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -11px;
    position: absolute;
    top: 5px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.subnavbar a.test + .dropdown-menu::after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: -9px;
    position: absolute;
    top: 5px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.subnavbar a.test + .dropdown-menu{
    left: 103%;
}
form button.form-control{
    appearance: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    padding: 10px 15px;
    color: #004886;
    cursor: pointer;
    font-weight:bold;
    transition-duration: 0.25s;
}
form button.form-control:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 767px){
    .navbar-nav .open .dropdown-menu{
        background: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px){
    br.br-hide{display: block;}
    .subnavbar .container > ul > li{
        height:auto;
        min-width: unset;
        width:20%;
    }
    .subnavbar .container > ul > li a{
        padding: 0 5px;
    }
    .subnavbar .container > ul > li > a > span,
    .subnavbar .container > ul > li a .caret{
        display: none;
    }
}